:root {
  --color-common: rgb(101, 235, 101);
  --color-rare: #5757fd;
  --color-epic: blueviolet;
  --color-legendary: gold;
  --color-default: gray;

  --color-fire: rgb(255, 79, 79);
  --color-water: rgb(65, 92, 216);
  --color-wind: rgb(48, 214, 214);
  --color-forest: rgb(0, 128, 0);
  --color-dark: rgb(108, 43, 182);
  --color-light: rgb(199, 189, 45);
  --color-physical: rgb(126, 126, 126);
}

html.dark {
  background-color: rgb(38, 29, 61);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@keyframes skill-fade-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px gold;
  }
  50% {
    box-shadow: 0 0 30px gold;
  }
  100% {
    box-shadow: 0 0 5px gold;
  }
}
